{% extends "bookmodule/layouts/base.html" %}
{% block title %} Students (Many-to-Many) {% endblock title %}
{% block content %}

<h2>Student List (Many Addresses)</h2>
<a href="/books/lab11/addstudent2">+ Add New Student</a>
<br><br>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Addresses</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>
                {% for addr in student.addresses.all %}
                    {{ addr.city }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="/books/lab11/editstudent2/{{ student.id }}">Edit</a>
                &nbsp;
                <a href="/books/lab11/deletestudent2/{{ student.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}